nav.navbar-default.navbar-bc {
    background-color: #3861ff;
    background-image: none;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;

    a.navbar-brand {
        color: white;
    }
    
    ul.navbar-right  a {
        color: white;
    }
}

   