chart-container {

    .chart-container-wrapper {
            min-height: 300px;
            background-color: #dfe2ef;
            margin: 10px;
            text-align: center;
            transition: background-color .25s ease-in;
            
            &:hover {
                cursor: pointer;
                background-color: lightblue;
                transition: background-color .25s ease-out;
            }

            .glyphicon {
                line-height: 300px;
            }
    }
}