$color_1: #999999;
$color_2: #fff;
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        text-indent: 20px;
        line-height: 40px;
        a {
            display: block;
            text-decoration: none;
            color: $color_1;
            &:hover {
                text-decoration: none;
                color: $color_2;
                background: rgba(255, 255, 255, 0.2);
            }
            &:active {
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
            }
        }
    }
    >.sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
        a {
            color: $color_1;
            &:hover {
                color: $color_2;
                background: none;
            }
        }
    }
}

@media (min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }
    #sidebar-wrapper {
        width: 200px;
    }
}


sidebar div.page-content-wrapper {
    margin-left: 15px;
    margin-right: 15px;
}