$primary-color: blue;
$primary-color-hover: #3e99b7;

plus-button {
    height: 40px;
    width: inherit;
    background-color: $primary-color;
    bottom: 0px;
    position: fixed;
    display: block;

    .plus-button-wrapper {
        display: block;
        text-align: center;
        height: 100%;

        .plus-button-icon {
            color: white;
            margin-top: 12px;
        }
    }
  
    transition: background-color .2s ease-in;
    &:hover {
        background-color: $primary-color-hover;
        cursor: pointer;
        transition: background-color .2s ease-out;
    }
}
