$color_1: #4c565e;
$color_2: #5f5f5f;
$color_3: #ffffff;
$background_color_1: #ffffff;
.login-form {
    h2.form-heading {
        color: $color_1;
        font-size: 24px;
        padding-bottom: 20px;
        font-weight: bold;
    }
    .custom-form {
        .form-group {
            margin-bottom: 25px;
            input {
                border: 1px solid #ccc;
            }
        }
        button.btn.btn-default.btn-block.dropdown-toggle {
            text-align: left;
            color: $color_2;
            border: 1px solid #ccc;
            background: #fff;
        }
        ul.dropdown-menu {
            width: 100%;
            background: #fff;
            color: $color_2;
            li {
                a {
                    color: $color_2;
                    opacity: 0.8;
                    &:hover {
                        background: #fff;
                        opacity: 1;
                    }
                }
            }
        }
        .submit-button {
            border-radius: 2px;
            background: #6caee0;
            color: $color_3;
            font-weight: bold;
            box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
            padding: 14px 22px;
            border: 0;
            margin: 30px auto 0;
            outline: none;
        }
    }
}

form.custom-form {
    background-color: $background_color_1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    border-top: 2px solid #6caee0;
    padding: 40px;
    color: $color_2;
}

div.radio {
    margin: 14px 0;
}